<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index2.html" />
                <add value="index3lightning.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".x" />
            <mimeMap fileExtension=".hdr" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".md2" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".lwo" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".ply" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".obj" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".mmd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".3ds" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".babylon" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".draco" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".bvh" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".mtl" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".obj2" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".nrrd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".nodes" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".collada" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".dae" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".ctm" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".3mf" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".fat" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".amf" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".kmz" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".ldraw" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".exr" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".ktx" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".pvrtc" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".,tga" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".tga" mimeType="image/tga" />
            <mimeMap fileExtension=".vtk" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".vtp" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".x" mimeType="application/directx" />
            <mimeMap fileExtension=".ldr" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".mpd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".gcode" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".drc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pmd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".vmd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".vpd" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".dds" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".glb" mimeType="application/octet-streatm" />
            <mimeMap fileExtension=".wasm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".assimp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".awd" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pcd" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pdb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".prwm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pvr" mimeType="image/pvr" />
            <mimeMap fileExtension=".vrm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".module" mimeType="application/octect-stream" />
            <mimeMap fileExtension=".json" mimeType="application/octect-stream" />
        </staticContent>
    </system.webServer>
</configuration>
